<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지(express)</title>
</head>

<body>
    <!-- action : 어디로 요청할 것인지 경로 (절대경로 / 상대경로) -->
    <!-- 절대경로 : 외부로 요청을 할 때 -->
    <!-- 상대경로 : 내 서버로 요청을 할 때 -->
    <!-- 현재 페이지의 경로 : localhost:8888/join -->
    <!-- 요청받아주는 (회원가입을 처리해주는) 서버의  경로 : localhost:8888/user/join -->
    <form action="./user/join" method="post">
        <input type="text" id="id" placeholder="아이디" name="id"><br>
        <input type="password" id="pw" placeholder="비밀번호" name="pw"><br>
        <input type=" text" id="nick" placeholder="닉네임" name="nick"><br>
        <input type="submit" value="회원가입">
    </form>
</body>

</html>