<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>

<body>
    <!-- 현재 페이지 웹 주소 : localhost:3000/ -->
    <!-- 작성페이지 웹 주소 : [GET]localhost:3000/write -->
    <!-- js 기능 작성 -->
    <button onclick="location.href= './write'">게시물 작성 페이지</button><br>

    <table id="post-list" border="1">
        <thead>
            <td>게시물번호</td>
            <td>제목</td>
            <td>작성자</td>
        </thead>
        <tbody>

        </tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
        //1. 회원 정보 전체 불러오기 요청
        fetch('./posts')
        .then(res => res.json())
        .then(posts => {
            console.log(posts);
            const tbody = document.querySelector('#post-list tbody');

            posts.forEach(post => {
            const tr = document.createElement('tr');

            const tdId = document.createElement('td');
            //tdId.textContent = post.id;

            const link = document.createElement('a');
            link.href = `./one?id=${post.id}`;  // 예: 상세 페이지 링크
            link.textContent = post.id;

            tdId.appendChild(link);  

            const tdTitle = document.createElement('td');
            tdTitle.textContent = post.title;

            const tdWriter = document.createElement('td');
            tdWriter.textContent = post.writer;

            tr.appendChild(tdId);
            tr.appendChild(tdTitle);
            tr.appendChild(tdWriter);

            tbody.appendChild(tr);
            });
        })
        .catch(error => {
            console.error('게시물 정보 불러오기 실패:', error);
        });
    });
    </script>
</body>

</html>