<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>

<body>
    <!-- 현재 페이지 웹 주소 : localhost:3000/ -->
    <!-- 작성페이지 웹 주소 : [GET]localhost:3000/write -->
    <!-- js 기능 작성 -->
    <button onclick="location.href= './write'">게시물 작성 페이지</button><br>

    <table id="post-list" border="1">
        <thead>
            <td>게시물번호</td>
            <td>제목</td>
            <td>작성자</td>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>

</html>