<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성 페이지</title>
</head>

<body>


    <form action="" method="">
        <input type="text" placeholder="게시물 제목"><br>
        <input type="text" placeholder="작성자" id="post-frm-writer" readonly><br>
        <textarea placeholder="게시물 내용"></textarea><br>
        <input type="file"><br>
        <input type="submit" value="게시물 등록">
    </form>


</body>

</html>