<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지(express)</title>
</head>
<body>
    <!-- 로그인 요청 경로 : localhost:8888/user/login -->
    <form action="./user/login" method="post">
        <input type="text" id="id" placeholder="아이디" name="id"><br>
        <input type="password" id="pw"placeholder="비밀번호" name="pw"><br>
        <input type="submit" value="로그인">
    </form>
</body>
</html>