<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보수정 페이지(express)</title>
</head>

<body>
    <!-- 
        일반적으로 사용하는 방식 - Web Session
        (Session -> 사용자 관련 정보를 서버쪽에 저장(유지)하는 방식)
    -->
    <form action="./user/update" method="post">
        <input type="hidden" id="id" placeholder="아이디" name="id" value="df"><br>
        <input type="password" id="pw" placeholder="수정할 비밀번호" name="pw"><br>
        <input type=" text" id="nick" placeholder="수정할 닉네임" name="nick"><br>
        <input type="submit" value="수정">
    </form>
</body>

</html>